html {font-size: 82.5%;}
body { padding:30px; }

.highlight-focus .cell { opacity:0.5; }
.highlight-focus .cell.highlighted { opacity:1; }

.button {
    display: inline-block; z-index:1;
    position:relative;
    margin-right:10px; padding: 0 2rem 0 3.5rem;
    height: 3rem;
    font-weight: 500; font-style: normal; font-size: 1rem; color:#fff;
    border: 0; border-radius: .4rem;
    cursor: pointer;
    letter-spacing: .04rem;
    line-height: .01rem;
    outline: none;
    text-transform: uppercase;
    -webkit-transition: all 200ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
            transition: all 200ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
    white-space: nowrap;
    background:#0277bd;
}

.button:hover { background:#036; }
.button:before { content:''; display:block; position:absolute; width:100%; height:100%; top:0; left:0; border-radius:.4em; background:#036; transition:all .3s; z-index:0; opacity:0; }

.button svg { position:absolute; top:11px; left:15px; height:16px; width:16px; fill:#fff; margin-right:10px; }
.button .name { display:none; }

/*.columns { display:flex; transition:all .3s; } */
.column { position:relative; border:0; border-bottom:2px solid #333; padding:0; background:transparent; height:auto !important; }
.column input { position:absolute; top:0; left:0; width:100%; height:100%; box-sizing:border-box; min-width:100px; min-height:50px; }

.row { padding:0; transform:scale(1); transition:all .2s; position:relative }
.row td:first-child:before { content:'...'; display:block; position:absolute; left:-20px; top:30%; cursor:move }
.row td:first-child{ position:relative; }
/*.row-cells { display:flex; }*/
.row.gu-transit {  transform:scale(1.03); }

.row-cells a { font-size:.8em; }

.highlighted { background:#ccc; }

.cell { border:0; padding:0; overflow:hidden; position:relative;  min-width:100px; box-shadow:0 0 0 #333; transition:all .3s; height:2.8em; background:#fff; border-bottom:1px solid #ccc; }
.cell p { margin:0; }
.cell:hover { background:#ddd; /*box-shadow:0 0 3px #333;*/ }
.cell.highlighted, .cell.highlighted .cell-content { background:lightyellow; }
.cell-content { 
    left:0; top:0; 
    margin-top:25px;
    width:100%; height:100%;
    z-index:999; 
    color:#000; padding:7px; box-sizing: border-box; left:0; top:0; }

.number-set input { width:30px; }


/*.cell.highlighted textarea { display:block; }*/
.table-construct input[type="text"]:disabled {
    background:transparent;
    border:2px solid transparent;
    /*cursor:pointer;*/
    visibility:hidden;
}

.table-builder {
    position:relative;
    background:#eee; /*padding:30px;*/
    transition:all .3s;
    max-width:100%; overflow-y:auto; 
}

.row:last-child .merge-down { display:none !important;  }

table {
    font-size: 1.1rem;
    letter-spacing: .03rem;
    line-height: 1.5
}

table .left { padding: 0 0 0 2.4rem }
table .right { text-align: right }
table .center { text-align: center }
table .data { padding: 0 calc(2.4rem + 2rem) 0 2.4rem }

table svg { fill: #039be5 }

table .data-icon {
    display: block;
    position: absolute; top: 2.4rem; right: 0;
    width: 1.4rem; height: 1.4rem;
    -webkit-transform: translateY(-0.2rem);
        -ms-transform: translateY(-0.2rem);
            transform: translateY(-0.85rem)
}

th, td {
    font-size: 1.1rem;
    height: 4.8rem;
    letter-spacing: .03rem;
    line-height: 1.5;
    vertical-align: middle;
    position:relative;
}

th {
    background: #e31b23;
    border-bottom: 0.1rem solid #f5f5f5;
    color: #fff; font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif; font-weight: 500; font-style: normal;
    letter-spacing: -.03rem;
    padding: 0 2.4rem;
    text-align: left
}

tr {
    -webkit-transition: 200ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
            transition: 200ms 0ms cubic-bezier(0.4, 0, 0.2, 1)
}

td {
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.12);
    text-align: left;
    font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif; font-weight: 400; font-style: normal
}

td:hover {
    color: #0277bd;
    /*cursor: pointer*/
}

td:hover svg { fill: #0277bd }

.responsive-table-container { width: 100% }

.responsive-table-container .responsive-table {
    display: inline-block;
    margin-right: -.3rem;
    background: #fff;
}

.responsive-table-container td, .responsive-table-container th { padding-left: 4.8rem }

.responsive-table-container th {
    min-width: 10rem;
    padding-right: 0;
    white-space: nowrap
}

.responsive-table-container .pinned-columns th:first-child, .responsive-table-container .pinned-columns td:first-child { padding-left: 2.4rem }
.responsive-table-container .pinned-columns th:last-child, .responsive-table-container .pinned-columns td:last-child { padding-right: 9.6rem }
.responsive-table-container .scrollable-columns td { padding-right: 3rem; text-align: right }
.responsive-table-container .scrollable-columns td .data-icon { right: 1rem }
.responsive-table-container .scrollable-columns td:last-child { padding-right: 4.8rem }
.responsive-table-container .scrollable-columns td:last-child .data-icon { right: 2.4rem }
.responsive-table-container .scrollable-columns th:last-child { padding-right: 2.4rem }

.row-hover td { background: rgba(0, 0, 0, 0.04) }

.pinned-columns { z-index: 2 }

.is-scrollable .pinned-columns::after {
    position: absolute; right: 0;  top: 0;
    content: '';
    height: 100%; width: .6rem;
    box-shadow: inset -0.6rem -0.1rem 0.2rem -0.2rem rgba(0, 0, 0, 0.24);
    -webkit-transform: rotate(180deg) translateX(-0.5rem);
        -ms-transform: rotate(180deg) translateX(-0.5rem);
            transform: rotate(180deg) translateX(-0.5rem);

}

.scrollable-columns {
    overflow-x: auto; overflow-y: hidden;
    position: absolute; top: 0
}

.is-ie9 .responsive-table { margin-right: -.3rem }

.simple-table th { box-shadow: none }

.simple-table tr {
    -webkit-transition: all .25s;
            transition: all .25s
}

.simple-table tr:hover td { background: rgba(0, 0, 0, 0.04) }
.simple-table th:first-child, .simple-table td:first-child { padding-right: 4.8rem }
.simple-table th:nth-child(2), .simple-table td:nth-child(2) { padding-right: 4.8rem }
.simple-table th:nth-child(3), .simple-table td:nth-child(3) { padding-left: 0 } 
.simple-table .category { padding: 0 }
.dual-axis-table th { padding-right: 3rem }

.dual-axis-table .noborder {
    border: 0;
    box-shadow: none
}

.dual-axis-table .nobackground {
    background: none;
    color: #424242
}

.dual-axis-table .y-axis-th { box-shadow: inset 0 -0.1rem 0 0 rgba(255, 255, 255, 0.3) }

.dual-axis-table .data { background: rgba(0, 0, 0, 0.02) } 
.row-hover td { background: rgba(0, 0, 0, 0.03) } 
.pinned-columns .dual-axis-table .row-hover td { background: rgba(0, 0, 0, 0.02) } 
.pinned-columns .dual-axis-table .row-hover td:first-child { background: rgba(0, 0, 0, 0.03) } 
.scrollable-columns .dual-axis-table .row-hover td { background: rgba(0, 0, 0, 0.08) }

.scrollable-columns .dual-axis-table .hovered-column { background: rgba(0, 0, 0, 0.08) }

.has-note:hover::after {
    content: 'Exclusion text goes here lorem ipsum dolor';
    position: absolute; left: -1.2rem; z-index: 10; bottom: -3.36rem;
    padding: .8rem;
    width: 30rem;
    color: #fff; font-size: 1.2rem;
    text-align: center;
    background: #616161;
}

.has-note.note-1::before {
    border: 0;
    content: '1';
    position: absolute; right: 1rem; top: 0
}

.has-note.note-2::before {
    border: 0;
    content: '2';
    position: absolute; right: 1rem; top: 0
}

.has-note.note-3::before {
    border: 0;
    content: '3';
    position: absolute; right: 1rem; top: 0
}

.table-notes {
    display: block;
    left: 19.2rem; top: 1.7rem;
    min-height: 10rem;
}

.table-notes .table-note {
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: .6rem
}

.versions-table { margin-top: 2.5rem }

.versions-table .responsive-table-container {
    max-height: 0;
    overflow: hidden
}

.versions-table .responsive-table-container.active { max-height: none }

.view-all-versions-button {
    color: #039be5;
    padding: 0 0 1.5rem
}

.archive-table th {
    background: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.87); font-style: normal; font-weight: 500;
    letter-spacing: -.04rem;
    line-height: 1.45
}
.archive-table .clickable {
    color: #039be5;
    text-decoration: underline
}

.controls {
    display: none;
    margin-top: 15px; padding: 15px;
    background: #ddd;
}

.table-builder-wrap { clear:both; margin-top:15px; }

.table-prompt { position:relative; background:#eee; padding:20px; border:14px solid #eee; }

.table-path { position:relative; z-index:2; }
.table-path h1 { font-size:35px; margin-top:0; }
.table-path .button { margin:0 5px; }

.table-construct { padding:20px 45px; margin:10px 0; background:#efefef; }

.cell-controls { position:relative; }
.footnote-group { 
    opacity:0;
    visibility:hidden;
    top:50px;
    position: absolute;
    background: #333;
    width: 100%;
    border-radius: 5px;
    color: #fff;
    transition:all .7s;
}
.footnote-group:before { content:''; display:block; position:absolute; top:-5px; left:15px; border-left:7px solid transparent; border-right:7px solid transparent; border-bottom:7px solid #333; }
.footnote-group.active { opacity:1; visibility: visible; top:80px; }
.footnote-list { padding-left:25px; }
.footnote-list ol { padding:0 35px; }
.footnote-list li { padding:8px 0; }
/*
.cell-controls { display:none; }
.footnote-group { display:none; }
*/
.table-controls {
    display:flex;
    /*position:absolute;*/ top:0; right:0;  z-index:999;
    padding:20px; 
    border-bottom:2px solid #ccc; 
    background:#fff; 
}
.table-controls h2 { margin:15px 0; font-size:17px;}
.table-controls .button { 
    display:block; 
    padding-left:1.9em; margin-bottom:10px;
    width:100%; height:1.4em;
    text-align:left;
    background:transparent;
    color:#036;
}
.table-controls .button[disabled] { cursor:default; opacity:0.4 }
.table-controls .button svg {
    top:0; left:0;
    fill:#036;
}

/*
.column-controls { display:none; }
.row-controls { display:none; }
*/

.footnotes-control { padding:20px 45px 0; }

.footnote-number {
    position: absolute; right: 1rem; top: 0;
    border: 0;
}
.footnote-to-cell { display:none; }
.footnote-content {
    display:none;
    position: absolute; left: -1.2rem; bottom: -3.36rem; z-index: 10;
    content: 'Exclusion text goes here lorem ipsum dolor'; 
    padding: .8rem;
    width: 30rem;
    color: #fff; font-size: 1.2rem;
    text-align: center;
    background: #616161;
}
.footnote-number:hover + .footnote-content { display:block; }
.button.add-footnotes[disabled] { background:transparent; color:#000; font-weight:bold; padding:0; cursor:default; }

.show-instructions { margin-top:10px; }
.instructions { display:none; clear:both; }

.table-step {  }
.table-step h1 { margin:0 30px 0 0; display:inline-block;}
.stepone, .steptwo, .stepthree { transition:all .4s .6s; position:relative; top:-4px; display:inline-block; width:30px; height:23px; padding-top:7px; margin-right:30px; border-radius:60px; border:2px solid #333; text-align:center; }
.stepone.active, .steptwo.active, .stepthree.active { border:2px solid lightgreen; color:darkgreen;}

.steptwo:before, .stepthree:before { width:30px; height:2px; position:absolute; content:''; display:block; top:45%; left:-100%; background:#333; z-index:1; }
.steptwo:after, .stepthree:after { width:0; height:2px; position:absolute; content:''; z-index:2; display:block; top:45%; left:-100%; background:lightgreen; transition:all .8s; }
.steptwo.active:after, .stepthree.active:after { width:30px; }
 
.main-controls label { display:block;padding:5px; position:relative; }
.main-controls label:before { content:''; display:block; width:15px; height:15px; border-radius:3px; border:2px solid #333; position:absolute; left:0; top:3px; }
.main-controls label:after { content:''; display:block; width:12px; height:12px; border-radius:3px; background:darkgreen; position:absolute; left:2px; top:5px; }
.main-controls input[type="checkbox"] { visibility:hidden; }

.custom-controls { display:flex; }

.table-wizard { padding:40px; margin:10px 0; background:#efefef; }
.table-wizard ul { list-style:none; margin:0 0 20px; padding:0; }
.table-wizard li { padding:7px 0; }
.table-wizard input[type="number"] { width:50px; }

.table-title[disabled] { background:transparent; border:0; margin-bottom:20px; font-size:1.5em; font-weight:bold; visibility:visible !important }

[data-tree="2"] td:nth-child(2) { padding-left:15px; }
[data-tree="3"] td:nth-child(2) { padding-left:25px; }
[data-tree="4"] td:nth-child(2) { padding-left:35px; }
[data-tree="5"] td:nth-child(2) { padding-left:45px; }
[data-tree="6"] td:nth-child(2) { padding-left:55px; }
[data-tree="7"] td:nth-child(2) { padding-left:65px; }
[data-tree="8"] td:nth-child(2) { padding-left:75px; }

.final-controls { padding:20px; background:#ccc; margin-top:15px;}

.save.button { background:darkgreen }
.preview.button { background:darkorange }

.footnote { padding:5px; }
.add-footnote, .remove-footnote { background:transparent; border:0; font-weight:bold; color:#036; cursor:pointer; font-size:20px;margin-top:5px; }

.row:hover .cell, .cell.hovered  { background:#eee; }

/*
.site-overlay { display:none; position:fixed; top:0; left:0; height:100vh; width:100%; background:rgba(0,0,0,0.8); z-index:9999; }
.trumbowyg-box { position: absolute !important; width: 700px !important; height: 200px; left: 30%; top: 35%; z-index: 99999; display:none; background:#fff; }*/


.in-cell-options { position:absolute; top:-23px; left:0; width:100%; background:#ccc; z-index:9999; transition:all .4s; }
.in-cell-options button { background:transparent; border:0; cursor:pointer; }
.in-cell-options svg { background:transparent; width:10px; height:10px; }
.in-cell-edit-save { display:none; }
.cur-highlight .in-cell-options { top:0; }
.trumbowyg-box, .trumbowyg-editor { margin:30px auto 0 !important; min-height:100px !important; z-index:9999; background:#fff; }
.trumbowyg-button-pane { width:100%; z-index:99999; }
.trumbowyg-editor { margin-top:0 !important; }